/**
 * Nestable
 */

.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 100%; list-style: none; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; border: 1px solid #ccc;
	background: #fafafa;
	background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
	background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
	background:         linear-gradient(top, #fafafa 0%, #eee 100%);
	-webkit-border-radius: 3px;
			border-radius: 3px;
	box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
	background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
					  -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
						 -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
							  linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-size: 60px 60px;
	background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
	-webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
			box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
	color: #fff;
	border: 1px solid #999;
	background: #edf2f7;
	background: -webkit-linear-gradient(top, #edf2f7 0%, #999 100%);
	background:    -moz-linear-gradient(top, #edf2f7 0%, #999 100%);
	background:         linear-gradient(top, #edf2f7 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #edf2f7; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) {

	.dd { float: left; width: 100%; }
	.dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #edf2f7 !important; }

/**
 * Nestable Draggable Handles
 */

.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 4px 10px 5px 40px; color: #333; text-decoration: none; font-weight: normal; border: 1px solid #d9dee9;
	background: #edf2f7;
	-webkit-border-radius: 3px;
			border-radius: 3px;
	box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }

.dd3-content .action {
	position: absolute;
	width: 40px;
	z-index: 100;
	top: 6px;
	right: 10px;
	border-left: 1px solid #e3e3e3;
	height: 18px;
	overflow: hidden;
	position: absolute;
	padding-left: 10px;
}

.dd3-content .status {
	position: absolute;
	width: 40px;
	z-index: 100;
	top: 6px;
	right: 50px;
	border-left: 1px solid #e3e3e3;
	height: 18px;
	overflow: hidden;
	position: absolute;
	padding-left: 10px;
}

.dd3-content .url {
	position: absolute;
	width: 40px;
	z-index: 100;
	top: 6px;
	right: 90px;
	border-left: 1px solid #e3e3e3;
	height: 18px;
	overflow: hidden;
	position: absolute;
	padding-left: 10px;
}


.dd3-content .document {
	position: absolute;
	width: 350px;
	z-index: 100;
	top: 6px;
	right: 150px;
	border-left: 1px solid #e3e3e3;
	height: 18px;
	overflow: hidden;
	position: absolute;
	padding-left: 10px;
}

.dd3-content .document_id {
	position: absolute;
	width: 50px;
	z-index: 100;
	top: 6px;
	right: 700px;
	border-left: 1px solid #e3e3e3;
	height: 18px;
	overflow: hidden;
	position: absolute;
	padding-left: 10px;
}

.dd3-content .icon_sprite {
	display: inline-block;
}

.dd3-content.level-1 {
	background: #e3ebf2 url(../images/backgrounds/grey.png) !important;
	border-color: #d9dee9 !important;
	color: #6086AB !important
}

.dd3-content.level-3 {
	background:#fff3c5 url(../images/backgrounds/grey.png) !important;
	border-color:#ffe075 !important;
	color:#937f38 !important;
}

.dd3-content.level-2 {
	background: #c9e5b9 url(../images/backgrounds/grey.png) !important;
	border-color: #a5d985 !important;
	color: #557143 !important
}

.dd3-content.level-3 {
	background:#fff3c5 url(../images/backgrounds/grey.png) !important;
	border-color:#ffe075 !important;
	color:#937f38 !important;
}

.dd3-content.red {
	background:#ffe3e2 url(../images/backgrounds/grey.png) !important;
	border-color:#efb1af !important;
	color:#c00 !important;
}

.dd3-content.green {
	background:#d3f3c0 url(../images/backgrounds/grey.png) !important;
	border-color:#a5d985 !important;
	color:#557143 !important;
}

.dd3-content.yellow {
	background:#ffe075 url(../images/backgrounds/grey.png) !important;
	border-color:#ffe075 !important;
	color:#937f38 !important;
}

.dd3-content.grey {
	background:#ffe3e2 url(../images/backgrounds/grey.png) !important;
	border-color:#efb1af !important;
	color:#c00 !important;
}

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
	border: 1px solid #373840;
	background: #373840;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	color: #696969;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #373840; color: #fff;}


ol.dd-list li ol.dd-list {
	background:transparent url(../images/level.png) 1px 0px repeat-y;
}
